@mixin before_circle {
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0px;
		top: -30%;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
	}
}

@mixin before_img {
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 0px;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
	}
}