.resume {
	&__wrapper {
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 136px;
	}

	&__column {
		&-title {
			position: relative;
			padding-left: 43px;

			&:before {
				content: '';
				position: absolute;
				left: -7.5px;
				top: 50%;
				transform: translateY(-50%);
				width: 15px;
				height: 15px;
				background-color: $main-color;
				border-radius: 100%;
			}
		}

		ul {
			list-style-type: none;

			li {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 1px;
					height: calc(100% + 8px);
					background-color: #000;
					top: -8px;
					left: 0;
				}
			}
		}
	}

	&__item {
		position: relative;

		&::before {
			content: '';
			height: 1px;
			width: 41px;
			position: absolute;
			top: 68px;
			// z-index: -1;
			background-color: #000;
		}

		&-head {
			position: relative;
			padding: 45px 0 0 100px;
		}

		&-body {
			padding: 0 0 0 43px;
			margin-top: 12px;
			font-size: 12px;
			line-height: 18px;
		}

		&-icon {
			position: absolute;
			top: 50px;
			left: 41px;
			@include before_img;

			img {
				position: absolute;
				left: 15px;
				top: 15px;
			}
		}

		&-location {
			font-size: 12px;
			line-height: 18px;
		}

	}
}